$newSpacing: 50px;

/* Small devices */
@media (max-width: 900px) {
  .forecastBlock {
    max-width: 400px;
    margin: auto;
    padding-top: $newSpacing;

    .fiveBlock {
      margin-top: $newSpacing;
    }
  }
  h1, input[type="text"] {
    font-size: 28px;
  }
  h2 {
    font-size: 25px;
  }
}

/* Smallest devices */
@media (max-width: 350px) {
  input {
    padding: 0px 5px;
  }
  h1, input[type="text"] {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
}

